<!DOCTYPE html>

<div style="float: middle;">
<%= form_tag(guests_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Guests", :style => "text-align: Center;",
:rows => 1, :class => "input" %><br>

<%= submit_tag "Search", :class =>"btn btn-default btn-lg" %>
</div>

<% end %>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Locker</th>
      <th>Price</th>
      <th>Deposit</th>
      <th>Payment Method</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.reverse.each do |guest| %>
      <tr>
        <td><%= guest.name %></td>
        <td><%= guest.locker %></td>
        <td><%= guest.price %></td>
        <td><%= guest.deposit %></td>
        <td><%= guest.payment_method %></td>
        <td><%= link_to 'Show', guest %></td>
        <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
        <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

