<!DOCTYPE HTML>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Locker:</strong>
  <%= @guest.locker %>
</p>

<p>
  <strong>Nights:</strong>
  <%= @guest.nights %>
</p>

<p>
  <strong>Price:</strong>
  <%= @guest.price %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @guest.deposit %>
</p>

<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
