<!DOCTYPE html>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Room</th>
      <th>Number</th>
      <th>Name</th>
      <th>Locker</th>
      <th>Nights</th>
      <th>Price</th>
      <th>Deposit</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @beds.where(room: room_variable).each do |bed| %>
      <tr>
        <td><%= bed.room %></td>
        <td><%= bed.number %></td>
        
        <!--Check if there are any guests are assigned to the beds
        /if there are not, bed.guests[0].name would be undefined.
        Check guests' booking and check out date, display only those guests that are staying in the hotel during
        the given date.-->
        <% if defined? bed.guests[0].name == "method"%>
        Name: <%= bed.guests[0].name %> <br>
        Check in: <%= bed.bookings[0].check_in_date.strftime("%Y %B %d, %A") %><br>
        Check out: <%= bed.bookings[0].check_out_date.strftime("%Y %B %d, %A") %><br>
        Time: <%= time_variable %><br>
        <% end %>
        <% if defined? bed.guests[0].name == "method" and
        bed.bookings[0].check_in_date.strftime("%Y %B %d, %A") <= time_variable and
        bed.bookings[0].check_out_date.strftime("%Y %B %d, %A") >= time_variable
         %>
        <td><%= bed.guests[0].name %></td>
        <td><%= bed.guests[0].locker %></td>
        <td><%= bed.guests[0].nights %></td>
        
        <!--Check if guests are checked in in the given date, if yes, display the price they pay, if not,
        leave the column empty.-->
        <% if bed.bookings[0].check_in_date.strftime("%Y %B %d, %A") == time_variable %>
		      <td><%= bed.guests[0].price %></td>
		      <% else %>
		      <td>-</td>
        <% end %>
        
        <td><%= bed.guests[0].deposit %></td>
        <% else %>
        <td>Room is free</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <% end %>
  
        <td><%= link_to 'Show', bed %></td>
        <td><%= link_to 'EditGuest', edit_guest_path(bed.guests[0]) %></td>
        <td><%= link_to 'Edit', edit_bed_path(bed) %></td>
        <!-- Don't destroy beds!
        <td><%= link_to 'Destroy', bed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
