<!DOCTYPE html>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Room</th>
      <th>Number</th>
      <th>Name</th>
      <th>Locker</th>
      <th>Nights</th>
      <th>Price</th>
      <th>Deposit</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @beds.where(room: room_variable).each do |bed| %>
      <tr>
        <td><%= bed.room %></td>
        <td><%= bed.number %></td>
        
        <!--Check if there are any guests are assigned to the beds
        /if there are not, bed.guests[0].name would be undefined.
        Check guests' booking and check out date, display only those guests that are staying in the hotel during
        the given date.-->
        
        <% if defined? bed.guests[0].name == "method" and
        bed.bookings[0].check_in_date.strftime("%Y%m%d") <= time_variable.to_time.strftime("%Y%m%d") and
        bed.bookings[0].check_out_date.strftime("%Y%m%d") > time_variable.to_time.strftime("%Y%m%d") %>
         
		      <td><%= link_to bed.guests[0].name, edit_guest_path(bed.guests[0]) %></td>
		      
		      <!--Check if guest is checked in yet or is it only a booking and guest still has to check in-->
		      <% if bed.bookings[0].status == "Check In"%>
		      		<td><%= bed.guests[0].locker %></td>
		      <% else %>
		      		<td><%= "Booked" %></td>
		      	<% end %>
		      	
		      <td>
		      <% if session[:time_variable].present? %>
		      
		      		<% difference = (session[:time_variable].to_date - bed.bookings[0].check_in_date.to_date).to_i %>
		      		<% nights_left = bed.guests[0].nights-difference %>
		      		
		      		<%= nights_left %>
		      		
		      <% else %>
		      
		      		<% difference = (Date.today.to_date - bed.bookings[0].check_in_date.to_date).to_i %>
		      		<%= bed.guests[0].nights-difference %>
		      		
		      <% end %>
		      </td>
		      
		      <!--Check if guests are checked in in the given date, if yes, display the price they pay, if not,
		      leave the column empty.-->
		      <% if bed.bookings[0].check_in_date.strftime("%Y %B %d, %A") == time_variable %>
				    
				    <!--Check if guest is checked in yet or is it only a booking and guest still has to check in-->
				    <% if bed.bookings[0].status == "Check In"%>
		      			<td><%= bed.guests[0].locker %></td>
		      		<% else %>
		      			<td><%= "Booked" %></td>
		      		<% end %>
				    
				  <% else %>
				    <td>-</td>
		      
		      <% end %>
		      
		      <!--Check if guest is checked in yet or is it only a booking and guest still has to check in-->
				    <% if bed.bookings[0].status == "Check In"%>
		      			<td><%= bed.guests[0].deposit %></td>
		      		<% else %>
		      			<td><%= "Booked" %></td>
		      		<% end %>
		     
		    <% else %>
		    
		      <td>Room is free</td>
		      <td>-</td>
		      <td>-</td>
		      <td>-</td>
		      <td>-</td>
        
        <% end %>
  
        <td><%= link_to 'Edit Guest', edit_guest_path(bed.guests[0]) %></td>
        <td><%= link_to 'Edit Booking', edit_booking_path(bed.bookings[0]) %></td>
        <!-- Don't destroy beds!
        <td><%= link_to 'Destroy', bed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
