<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @bed.room %>
</p>

<p>
  <strong>Number:</strong>
  <%= @bed.number %>
</p>

<%= link_to 'Edit', edit_bed_path(@bed) %> |
<%= link_to 'Back', beds_path %>
