<!DOCTYPE html>

<% if session[:time_variable].present? %>
<% @time_variable = session[:time_variable].strftime("%Y %B %d, %A")%>
<% else %>
<% @time_variable =  Date.today.strftime("%Y %B %d, %A")%>
<% end %>

<!--Get the names of the rooms in the array room_names-->

<% room_names = [] unless room_names %>
<% @beds.each do |bed| %>
	<% if room_names.include? bed.room %>
	<% else %>
	<% room_names << bed.room %>
	<% end %>
<% end %>


<!AM Shift>

<h3>AM Shift</h3>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
    
    		<th>Room</th>
    		<th>Total</th>
    		<th>Deposit</th>
      
     </tr>
  </thead>
  
<!--Initialize total_rooms_revenue to zero. -->
<% @total_rooms_revenue = 0 %>

<!--Iterate through the room names, create variables room_total_ + room name (for example room_total_A, room_total_B etc)
to store the total revenue for the rooms individually.-->
<% room_names.each do |name| %>
	
	<tbody>
	<tr>
	<% @i = "room_total_" + name %>
	
	<!--Render the _count_Total page sending the rooms' name as room_variable_total, the rendered page will iterate through the
	Bed table and sum upp all the revenue in the particular rooms.-->
	<td><%= name %> Room</td>
	
	<%= @i = render partial: "count_Total", locals: {room_variable_total: name, time_variable: @time_variable,
	shift_variable: "AM"} %>
	
	<!--Sum up the particular revenues in @total_rooms_revenue variable without deposits-->
	<% @total_rooms_revenue += strip_tags(@i).to_i%>
	
	</tr>
<% end %>
	</tbody>
</table>
</div>

<legend>Total Revenue of AM Shift: <%= @total_rooms_revenue %> Euro</legend>

<!PM Shift>

<h3>PM Shift</h3>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
    
    		<th>Room</th>
    		<th>Total</th>
    		<th>Deposit</th>
      
     </tr>
  </thead>
  
<!--Initialize total_rooms_revenue to zero. -->
<% @total_rooms_revenue = 0 %>

<!--Iterate through the room names, create variables room_total_ + room name (for example room_total_A, room_total_B etc)
to store the total revenue for the rooms individually.-->
<% room_names.each do |name| %>
	
	<tbody>
	<tr>
	<% @i = "room_total_" + name %>
	
	<!--Render the _count_Total page sending the rooms' name as room_variable_total, the rendered page will iterate through the
	Bed table and sum upp all the revenue in the particular rooms.-->
	<td><%= name %> Room</td>
	
	<%= @i = render partial: "count_Total", locals: {room_variable_total: name, time_variable: @time_variable,
	shift_variable: "PM"} %>
	
	<!--Sum up the particular revenues in @total_rooms_revenue variable without deposits-->
	<% @total_rooms_revenue += strip_tags(@i).to_i%>
	
	</tr>
<% end %>
	</tbody>
</table>
</div>

<legend>Total Rooms: <%= @total_rooms_revenue %> Euro</legend>

<!Night Shift>

<h3>NIGHT Shift</h3>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
    
    		<th>Room</th>
    		<th>Total</th>
    		<th>Deposit</th>
      
     </tr>
  </thead>
<!--Initialize total_rooms_revenue to zero. -->
<% @total_rooms_revenue = 0 %>

<!--Iterate through the room names, create variables room_total_ + room name (for example room_total_A, room_total_B etc)
to store the total revenue for the rooms individually.-->
<% room_names.each do |name| %>
	
	<tbody>
	<tr>
	<% @i = "room_total_" + name %>
	
	<!--Render the _count_Total page sending the rooms' name as room_variable_total, the rendered page will iterate through the
	Bed table and sum upp all the revenue in the particular rooms.-->
	<td><%= name %> Room</td>
	
	<%= @i = render partial: "count_Total", locals: {room_variable_total: name, time_variable: @time_variable,
	shift_variable: "NIGHT"} %>
	
	<!--Sum up the particular revenues in @total_rooms_revenue variable without deposits-->
	<% @total_rooms_revenue += strip_tags(@i).to_i%>
	
	</tr>
<% end %>
	</tbody>
</table>
</div>

<legend>Total Rooms: <%= @total_rooms_revenue %> Euro</legend>

<!Day Total>

<h3>Day Total</h3>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
    
    		<th>Room</th>
    		<th>Total</th>
    		<th>Deposit</th>
      
     </tr>
  </thead>
<!--Initialize total_rooms_revenue to zero. -->
<% @total_rooms_revenue = 0 %>

<!--Iterate through the room names, create variables room_total_ + room name (for example room_total_A, room_total_B etc)
to store the total revenue for the rooms individually.-->
<% room_names.each do |name| %>
	
	<tbody>
	<tr>
	<% @i = "room_total_" + name %>
	
	<!--Render the _count_Total page sending the rooms' name as room_variable_total, the rendered page will iterate through the
	Bed table and sum upp all the revenue in the particular rooms.-->
	<td><%= name %> Room</td>
	
	<%= @i = render partial: "count_Total", locals: {room_variable_total: name, time_variable: @time_variable,
	} %>
	
	<!--Sum up the particular revenues in @total_rooms_revenue variable without deposits-->
	<% @total_rooms_revenue += strip_tags(@i).to_i%>
	
	</tr>
<% end %>
	</tbody>
</table>
</div>

<legend>Total Rooms: <%= @total_rooms_revenue %> Euro</legend>
