<!DOCTYPE html>
<html>
<head>
  <title>Bobs</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      
      <div class="nav-collapse">
        <ul class="nav">
        <% if User.find_by_id(session[:user_id]).present? %>
        		
        		<li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= User.find_by_id(session[:user_id]).name %> <b class="caret"></b></a>
				    <ul class="dropdown-menu">
				      <li><%= link_to "Log Out", logout_url %></li>
				      
				    </ul>
      			</li>
      	 <% else %>
      	 	<a class="brand" href="#">Bobs</a>
      	 <% end %>
          <li><%= link_to 'Beds', beds_url %></li>
          <li><%= link_to 'Guests', guests_url %></li>
          <li><%= link_to 'Bookings', bookings_url %></li>
          <li><%= link_to "Total", total_url %></li>
          
          <!-- If user is logged in, make him able to log out -->
        		<% if User.find_by_id(session[:user_id]).present? %>
        			<li><%= link_to "Log Out", logout_url %></li>
        		<% end %>
        		  
        	
        </ul>
        
        
        
        <div style="float: right;" class="nav-collapse">
        <div class="nav-collapse">
        <ul class="nav">
        <li>
        <!-- If user is logged in, show time and date -->
        <% if User.find_by_id(session[:user_id]).present? %>
        <%= link_to "<", :controller => "time", :action => "decrease" %>
        </li>
        
        <li>
        <!--Check if date is manipulated (session time_variable is present), if yes,
        display the manipulated date, if not, show today's' date -->
		      <% if session[:time_variable].present? %>
		       	<%= link_to session[:time_variable].strftime("%Y %B %d, %A"), :controller => "time", :action => "set_today"  %>
					<% else %>
						<%= link_to Date.today.strftime("%Y %B %d, %A"), :controller => "time", :action => "set_today"  %>
		      <% end %>
        </li>
        
        <li>
        <%= link_to ">", :controller => "time", :action => "increase" %>
        <% end %>
        </li>
       
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</nav>
<br>
<br>
<div class="main_division">
<%= yield %>
</div>


<script>
	var v="<%= @time_variable %>"
	fun = function(){console.log('this is fun')};
	d = function(){console.log(v)};
	$(document).ready(function(){
      fun();
     	d();
    });
    
   $(document).ready(function(){
  		
  		$.fn.datepicker.defaults.format = "yyyy MM d, DD";
  		$.fn.datepicker.defaults.autoclose = true;
  		$.fn.datepicker.defaults.todayHighlight = true;
  		$(".datepicker").datepicker(
		{
				onSelect: function()
				{ 
				    var dateObject = $(this).datepicker('getDate');
				    console.log(55);
				    console.log(dateObject);
				}
		});
  });
</script>

</body>
</html>
